<div class="container">
    <div class="card">
        <div class="card-header">
            Usuario
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="a">ID</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.id">
            </div>
            <div class="form-group">
                <label for="a">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.nombre">
            </div>
            <div class="form-group">
                <label for="a">Direccion</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.direccion">
            </div>
            <div class="form-group">
                <label for="a">Escuela</label>
                <select name="escuela" id="escuela" class="form-control" [(ngModel)]="usuario.escuela">
                    <option *ngFor="let escuela of escuelas" value="{{escuela.id}}">{{escuela.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <button (click)="this.nuevoUsuario()" class="btn btn-primary">Agregar</button>
            </div>
        </div>
      </div>
</div>